$white:hsl(0, 0%, 100%);
$cyan: hsl(171, 66%, 44%);
$blue: hsl(233, 100%, 69%);
$dark-grayish: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$btn1-hover:hsl(171, 61%, 47%);
$btn2-hover:hsl(233, 97%, 74%);
$fotterColor:hsl(0, 0%, 98%);


